FRONTEND_URL=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_STORAGE_BUCKET_NAME=
MINIO_SECURE=

BASE_APP_URL=
BASE_API_URL=

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=

SECRET_KEY=
DEBUG=
SIGNING_KEY=

KEYCLOAK_REALM=
KEYCLOAK_SERVER_URL=
KEYCLOAK_CERTS_URL=
KEYCLOAK_ISSUER_URL=
KEYCLOAK_AUDIENCE=